:root {
	font-family: Gill Sans MT, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: regular;
	font-style: normal;
	line-height: 1.5;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #FFFFFF;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	--text-size: 1;

	&.pointer-drag {
		cursor: grab;
	}

	&.pointer-dragging {
		cursor: grabbing;
	}

	&.pointer-hover,
	&.open-pointer-hover {
		cursor: pointer;
	}
}

html,
body,
#app {
	overflow: hidden;
	width: 100svw;
	height: 100svh;
	overscroll-behavior: none;
}

* {
	margin: 0;
	border: 0;
	padding: 0;
	outline: 0;
	color: inherit;
	background: unset;
	list-style: none;
	appearance: none;
	user-select: none;
}

.tp-dfwv {
	z-index: 999;
	max-height: calc(100svh - 16px);
	overflow: auto;
}
